<div class="card border-primary mb-3">
  <div class="card-body text-center p-5">
    <h4 class="card-title">Import CSV file</h4>
    <p class="card-text">
      <form method="post" action="/import">
        <fieldset>
          <div class="form-group mb-3">
            <input class="form-control" type="file" id="formFile" name="form_file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </p>
  </div>
</div>
