<h2>Choose a ticker:</h2>

<div class="col-md-8">
  <% @tickers.each do |ticker| %>
    <a href="dividends/<%= ticker %>" type="button" class="btn btn-outline-dark my-1">
      <%= ticker %>
    </a>
  <% end %>
</div>
